###################################################
# This configuration is based on python setup.cfg.
# http://alexis.notmyidea.org/distutils2/setupcfg.html
#
###################################################
[settings_path]
srs_shp = /settings.json

[binpaths]
saga_cmd = /usr/bin
